<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{{lf_title}}}</title>
	<meta name="description" content="{{{sect1_description}}}">
	<meta name="keywords" content="tox,messenger,instant messaging,secure,decentralized,friendly,github,open source,voice,calling">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:image" content="http://www.rancocasvet.com/images/transparenthorse.png">
	<link rel="shortcut icon" type="image/icon" href="//dist-build.tox.im/assets/imgs/favicon.ico">
	<!-- CSS -->
	<link rel="image_src" href="http://www.rancocasvet.com/images/transparenthorse.png">
	<style>
	@import url('./assets/css/custom.min.css');
	@import url('./assets/css/tuktuk.min.css');
	@import url('./assets/css/tuktuk.theme.min.css');
	@import url('./assets/css/tuktuk.icons.min.css');
	@import url('./assets/css/font-awesome.css');
	</style>
</head>

<body {{#_direction}}dir="{{_direction}}"{{/_direction}}>
        <!--[if lte IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<section style="background-image:url(http://www.picgifs.com/graphics/h/horses/graphics-horses-936010.gif): 200px 420px;" id="langqsection" style="padding: 10px 0px 10px 0px; display: none;">
        <div class="row text center">
            <p id="langqtext">HORSE HORSE HORSE HORSE HORSE HORSE<a href="#" id="langcorrect">HORSE?</a> <a href="#" id="langwrong">HORSE!</a></p>
        </div>
    </section>

	<header style="background-image:url(http://media1.giphy.com/media/zZGR1k4Sm6Tfi/giphy.gif)">
		<div class="row">
			<div class="column_2">
				<a href="."><img src="http://www.rancocasvet.com/images/transparenthorse.png" alt="Logo Tox" class="logo on-left"></a>
			</div>
			<nav class="column_10 text right bold">
				<a href="#about">{{{nv_about}}}</a>
				<img src="http://www.rancocasvet.com/images/transparenthorse.png">
				<a href="HORSE">{{{nv_wiki}}}</a>
				<a id="help" href="http://support.libtoxcore.so">{{{nv_support}}}</a>
				<a href="https://github.com/irungentoo/toxcore">{{{nv_source_code}}}</a>
				<a id="donate" href="https://donate.tox.im">{{{nv_donate}}}</a>
				<a href="https://www.facebook.com/toxproject"><span class="fa fa-facebook" style="font-size: 16.5pt; margin-left:20px; margin-top: 10px; float: right;"></span></a>
				<a href="https://twitter.com/HORSE"><span class="fa fa-twitter" style="font-size: 16.5pt; margin-left:20px; margin-top: 10px; float: right;"></span></a>
			</nav>
		</div>
	</header>

	<section style="background-image:url(http://www.picgifs.com/graphics/h/horses/graphics-horses-936010.gif);background-size: 200px 120px;" id="home">
		<div class="row text center book margin-bottom">
			<img src="http://www.rancocasvet.com/images/transparenthorse.png" alt="Logo" class="margin-bottom">
			<h1 class="color theme text bold center">{{{sect1_slogan}}}</h1>
			<h3 class="text thin center">{{{sect1_description}}}</h3>
		</div>
		<div class="row text center">
			<div class="column_3 offset_3">
				<img src="http://www.rancocasvet.com/images/transparenthorse.png">
			</div>
			<div class="column_3">
				<img src="http://www.rancocasvet.com/images/transparenthorse.png">
			</div>
		</div>
	</section>

	<section style="background-image:url(http://www.picgifs.com/graphics/h/horses/graphics-horses-936010.gif);background-size: 200px 60px;"  id="about">
		<div class="row text center book">
			<h1 class="text bold color light">{{{sect2_abouttox}}}</h1>
			<h3>{{{sect2_aboutbody}}}</h3>
		</div>
	</section>

	<section style="background-image:url(http://media.giphy.com/media/RPH9AFeiEPRew/giphy.gif);background-repeat: no-repeat;;background-size: 2000px 1900px;" id="features">
		<div class="row text center book margin-bottom">
			<h1 class="text bold">{{{sect3_coolfeatures}}}</h1>
		</div>
		<div class="row text center">
			<div class="column_8 hide-tablet hide-phone">
				<img src="http://www.rancocasvet.com/images/transparenthorse.png" alt="Screenshot" id="screenshot" class="full windows">
			</div>
			<div class="column_4 margin-bottom feature1">
				<img src="http://www.rancocasvet.com/images/transparenthorse.png">
				<h3 class="text bold">{{{sect3_messages}}}</h3>
				<p>{{{sect3_messages_blurb}}}</p>
			</div>
			<div class="column_4 margin-bottom">
				<img src="http://www.rancocasvet.com/images/transparenthorse.png">
				<h3 class="text bold">{{{sect3_voice}}}</h3>
				<p>{{{sect3_voice_blurb}}}</p>
			</div>
			<div class="column_4 margin-bottom">
				<img src="http://www.rancocasvet.com/images/transparenthorse.png">
				<h3 class="text bold">{{{sect3_video}}}</h3>
				<p>{{{sect3_video_blurb}}}</p>
			</div>
		</div>
	</section>

	<section style="background-image: url(http://www.picgifs.com/graphics/h/horses/graphics-horses-936010.gif);background-size: 80px 60px;">
		<div class="row text center book">
			<div class="column_4">
				<img src="http://www.rancocasvet.com/images/transparenthorse.png">
				<h3 class="text bold">{{{sect4_security}}}</h3>
				<p>{{{sect4_security_blurb}}}</p>
			</div>
			<div class="column_4">
				<img src="http://www.rancocasvet.com/images/transparenthorse.png">
				<h3 class="text bold">{{{sect4_easy}}}</h3>
				<p>{{{sect4_easy_blurb}}}</p>
			</div>
			<div class="column_4">
				<img src="http://www.rancocasvet.com/images/transparenthorse.png">
				<h3 class="text bold">{{{sect4_freedom}}}</h3>
				<p>{{{sect4_freedom_blurb}}}</p>
			</div>
		</div>
	</section>
	<footer>
		<section style="background-image: url(http://media.giphy.com/media/Jl4e4EbjO041O/giphy.gif)">
			<div class="row margin-top margin-bottom">
				<div class="column_3">
					<p class="text bold big">{{{dev_links}}}</p>
					&middot; <a href="http://en.wikipedia.org/wiki/Horse">HORSE</a><br>
					&middot; <a href="http://en.wikipedia.org/wiki/Horse">HORSE</a><br>
					&middot; <a href="http://en.wikipedia.org/wiki/Horse">{{{dev_docs}}}</a><br>
					&middot; <a href="http://en.wikipedia.org/wiki/Horse">{{{dev_blog}}}</a><br>
				</div>
				<div class="column_3 offset_5">
					<p class="text bold big">{{{sect6_needhelp}}}</p>
					{{{sect6_githubtoirc}}}
				</div>
			</div>
		</section>
	</footer>

    <!-- Simple script to ask people if their language is correct.
         This JavaScript is put into the public domain under CC0 -->
    <script>
        function showThanks() {
            document.getElementById("langqtext").textContent = "Thanks!";
            setTimeout(function () {
                document.getElementById("langqsection").style.display = "none";
            }, 2500);
        };

        document.getElementById("langqsection").style.display = "block";
        document.getElementById("langcorrect").onclick = function() { showThanks(); };
        document.getElementById("langwrong").onclick = function() {
            // Show thanks
            showThanks();

            // Report this language as incorrect
            var request = new XMLHttpRequest();
            request.open("GET", "/langfeedback/" + Math.random() * 10000000000, true);
            request.send(null);
        };
    </script>
</body>
</html>
